{{define "card"}}
<div class="card  border border-0">
  <div class="card-body">
    <div class="card-title" id="{{.}}"></div>
  </div>
  <div class="card-footer">
    <small class="text-body-secondary">{{.}}</small>
  </div>
</div>
{{end}}

{{define "soil"}}
<div class="card border border-0">
  <div class="card-body">
    <h1 id="soil" class="card-title"></h1>
  </div>
  <div class="card-footer bg-success-subtle">
    <small class="text-body-secondary text-center">Soil Moisture</small>
  </div>
</div>
{{end}}


<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      
      <div class="row m-4">

        <div class="col-4">
          <h2>Garden Station</h2>
          <nav class="nav flex-column">
            <a class="nav-link active" aria-current="Home" href="/">Home</a>
            <a class="nav-link" href="stations">Stations</a>
            <a class="nav-link" href="data">Data</a>
            <a class="nav-link disabled">Config</a>
          </nav>
        </div>

        <div class="col">

          <div class="row">
            <div class="col-3 text-center">
              {{ template "soil"}}
            </div>
            <div class="col">
              {{ template "card" "temperature"}}
            </div>
            <div class="col">
              {{ template "card" "humidity"}}
            </div>
            <div class="col">
              {{ template "card" "pressure"}}
            </div>
            <div class="col">
              {{ template "card" "pump"}}
            </div>
          </div>
          <div class="row">
            <div class="col">
              {{ template "card" "errors"}}
            </div>
          </div>

        </div>

      </div>
    </div>
  </body>

  <script src="js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
  <script src="/js/relay.js"></script>

</html>
